
@media (max-width: 375px){
    html{
        width: 100%;
        height: 100vh;
    }
    body{
        display:flex;
        flex-direction: column;
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: 500px;
        background-color: var(--primary-color-bg);

    }

    .header{
        margin: 30px;
    }

    .header img{
        width: 170px;
        height: 60px;
    }
    .section-1{
        width: 100%;
        height: 230px;
        display: flex;
        justify-content: center;
    }
    .section-1 img{
        width: 310px;
        height: 226px;
        margin: 0;
    }
    div.info{
        margin: 0px;
        padding: 0px 0px 10px;
        width: 100%;
        height: 350px;
        
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    div.info h1{
        margin: 0px 50px 25px 50px;
        height: 70px;
        font-size: 25px;
    }

    div.info p{
        margin: 0px 35px;
        height: 140px;
        font-size: 16px;
        text-align: center;
    }

    div.info a.btn-register{
        width: 200px;
        height: 45px;
        margin: 0px;
        padding: 0px;
        font-size: 13px;
        display: flex;
        align-items: center;
    }

    .footer{
        height: 100vh;
    }

    .footer a.social{
        margin: 0px 5px;
        font-size: 16px;
    }

    footer.footer{
        
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-instagram{
        margin: 0;
        padding: 8px;
        border: 1px solid #fff;
    }

}